<?xml version="1.0" encoding="utf-8"?>
<tools grouporder="所有资源">
        <tool>
                <parentID>-1</parentID>
                <ID>1</ID>
                <text>所有资源</text>
                <tooltip>所有资源</tooltip>
                <toolicon>run.png</toolicon>
        </tool>
 	<tool>
                <parentID>1</parentID>
                <ID>10</ID>
                <text>模拟</text>
                <tooltip>模拟信号</tooltip>
                <toolicon>home.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>16</ID>
                <text>测试</text>
                <address>rtsp://admin:admin123@10.67.24.132:554/live/0/32058100001320001260</address>
                <tooltip>rtsp://admin:admin123@10.67.24.132:554/live/0/32058100001320001260</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>17</ID>
                <text>网络</text>
                <address>rtsp://admin:admin123@10.67.24.29:554/live/0/32058100001320001523</address>
                <tooltip>rtsp://admin:admin123@10.67.24.29:554/live/0/32058100001320001523</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>18</ID>
                <text>字节</text>
                <address>rtsp://10.67.24.94:8554/a170a2d</address>
                <tooltip>rtsp://10.67.24.94:8554/a170a2d</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>19</ID>
                <text>跳动</text>
                <address>rtsp://10.67.24.94:8554/a170432</address>
                <tooltip>rtsp://10.67.24.94:8554/a170432</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
	<tool>
                <parentID>10</parentID>
                <ID>20</ID>
                <text>腾讯</text>
                <address>rtsp://10.67.24.94:8554/a170230</address>
                <tooltip>rtsp://10.67.24.94:8554/a170230</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>21</ID>
                <text>天美</text>
                <address>rtsp://10.67.24.128:554/live/0/32050600001320000025</address>
                <tooltip>rtsp://10.67.24.128:554/live/0/32050600001320000025</tooltip>
                <toolicon>menu.png</toolicon>
        </tool>
	<tool>
                <parentID>10</parentID>
                <ID>22</ID>
                <text>阿里</text>
                <address>rtsp://10.67.24.101:8554/a16cb2b</address>
                <tooltip>rtsp://10.67.24.101:8554/a16cb2b</tooltip>
                <toolicon>icon.ico</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>23</ID>
                <text>百度</text>
                <address>rtsp://10.67.24.101:8554/a16c832</address>
                <tooltip>rtsp://10.67.24.101:8554/a16c832</tooltip>
                <toolicon>stone.ico</toolicon>
        </tool>
	<tool>
                <parentID>1</parentID>
                <ID>30</ID>
                <text>其他</text>
                <tooltip>其他</tooltip>
                <toolicon>run.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>100</ID>
                <text>风云</text>
                <address>rtsp://10.67.24.94:8554/a170a2b</address>
                <tooltip>rtsp://10.67.24.94:8554/a170a2b</tooltip>
                <toolicon>home2.png</toolicon>
        </tool>
        <tool>
                <parentID>10</parentID>
                <ID>110</ID>
                <text>分享</text>
                <address>rtsp://10.67.24.95:8554/a164f2b</address>
                <tooltip>rtsp://10.67.24.95:8554/a164f2b</tooltip>
                <toolicon>icon.png</toolicon>
        </tool>
</tools>
